<!-- KOLIZJE ETYKIET -->
<div class="">
  <!-- GŁÓWNY CHECKBOX -->
  <mat-checkbox [checked]="collisionsMain" (change)="onCollisionsMainChange($event.checked)">
    Kolizje etykiet z obiektami
  </mat-checkbox>

  <!-- PODRZĘDNE CHECKBOXY -->
  <div class="">
    <div *ngFor="let opt of collisionOptions">
      <mat-checkbox
        [checked]="opt.checked"
        [disabled]="!collisionsMain"
        (change)="onChildCollisionChange(opt.key, $event.checked)"
      >
        {{ opt.label }}
      </mat-checkbox>
    </div>
  </div>
</div>
