<svg:g id="layer-constellation-panels">
  <ng-container *ngIf="constellationLineSettings$ | async as settingsComstelation">
    <ng-container>
      <ng-container *ngIf="layout() as vm">
        <svg:defs>
          <ng-container *ngFor="let p of vm.panels">
            <svg:clipPath [attr.id]="p.clipId" clipPathUnits="userSpaceOnUse">
              <svg:rect [attr.x]="p.x" [attr.y]="p.y" [attr.width]="p.w" [attr.height]="p.h"></svg:rect>
            </svg:clipPath>
          </ng-container>
        </svg:defs>

        <ng-container *ngFor="let p of vm.panels">
          <svg:rect
            [attr.x]="p.x"
            [attr.y]="p.y"
            [attr.width]="p.w"
            [attr.height]="p.h"
            fill="none"
            stroke="#000000"
            stroke-opacity="0.20"
            stroke-width="1"
          ></svg:rect>

          <!-- CLIP NA ZEWNĘTRZNYM G (bez transform) -->
          <svg:g [attr.clip-path]="'url(#' + p.clipId + ')'">
            <svg:g *ngIf="settingsComstelation.visible" [attr.transform]="p.transform">
              <ng-container *ngFor="let d of p.paths">
                <svg:g app-svg-path [points]="d" [settings]="settingsComstelation"></svg:g>
              </ng-container>
            </svg:g>

            <ng-container *ngIf="(starSettings$ | async)?.symbols?.visible">
              <ng-container *ngFor="let s of p.stars">
                <svg:g app-shapes-star [star]="s"></svg:g>
              </ng-container>
            </ng-container>

            <g app-label-panels *ngIf="(labelPanelSettings$ | async)?.visible" [panel]="vm.panels"></g>
          </svg:g>
          <g app-labels-layer *ngIf="(starSettings$ | async)?.labels" [stars]="p.stars"></g>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</svg:g>
