<svg:g id="layer-constellation-panels">
  <ng-container *ngIf="constellationLineSettings$ | async as settings">
    <ng-container *ngIf="settings.visible">
      <!-- defs raz -->
      <!-- <defs>
        <ng-container *ngFor="let p of layout().panels">
          <clipPath [attr.id]="p.clipId">
            <rect [attr.x]="p.x" [attr.y]="p.y" [attr.width]="p.w" [attr.height]="p.h"></rect>
          </clipPath>
        </ng-container>
      </defs> -->

      <ng-container *ngFor="let p of layout().panels">
        <!-- ramka panelu -->
        <rect
          [attr.x]="p.x"
          [attr.y]="p.y"
          [attr.width]="p.w"
          [attr.height]="p.h"
          fill="none"
          stroke="#000000"
          stroke-opacity="0.20"
          stroke-width="1"
        ></rect>

        <!-- etykieta -->
        <text *ngIf="p.label" [attr.x]="p.label.x" [attr.y]="p.label.y" font-size="12" fill="#000000" opacity="0.6">
          {{ p.label.text }}
        </text>

        <!-- konstelacja w panelu -->
        <g [attr.clip-path]="'url(#' + p.clipId + ')'" [attr.transform]="p.transform">
          <ng-container *ngFor="let d of p.paths">
            <g app-svg-path [points]="d" [settings]="settings"></g>
          </ng-container>
        </g>

        <ng-container *ngFor="let s of p.stars">
          <g app-shapes-star [star]="s"></g>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</svg:g>
