<svg:g id="layer-constellation-lines">
  <ng-container *ngIf="constellationLineSettings$ | async as settings">
    <ng-container *ngIf="settings.visible">
      <ng-container *ngFor="let d of paths()">
        <path
          [attr.d]="d"
          fill="none"
          [attr.stroke]="settings.color"
          [attr.stroke-width]="settings.lineWidth"
          [attr.stroke-opacity]="settings.strokeOpacity"
          [attr.stroke-dasharray]="settings.dasharray"
          [attr.stroke-dashoffset]="settings.dashOffset"
          [attr.stroke-linecap]="settings.strokeLinecap"
          [attr.stroke-linejoin]="settings.linejoin"
        ></path>
      </ng-container>
    </ng-container>
  </ng-container>
</svg:g>
