/* Nagłówki */
::ng-deep .mat-expansion-panel-header {
  cursor: pointer;
  height: 45px;
  min-height: 45px;
  margin: 0 !important;
  background-color: #37474f !important;
  border-bottom: 2px solid black;
}

/* Po rozwinięciu ten sam styl (lub inny kolor jeśli chcesz) */
::ng-deep .mat-expansion-panel-header.mat-expanded {
  background-color: #37474f !important;
}

/* Usunięcie separatora */
::ng-deep .mat-expansion-panel-header::after {
  display: none !important;
}

/* Usunięcie marginesów paneli */
::ng-deep .mat-expansion-panel {
  margin: 0 !important;
}
::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

.panel-body-scroll {
  background: #48555c;
  height: calc(100vh - 6 * 45px); /* stała wysokość contentu */

  overflow-y: auto; /* pionowy */
  overflow-x: auto; /* poziomy */

  box-sizing: border-box;
  width: 100%; /* NIE 100vw! */
  /* padding: 15px 0 0px 5px; */
}

.controls-wrapper {
  color: white;
}
