<div class="controls-wrapper">
  <mat-accordion>
    <!-- PROJEKCJA -->
    <mat-expansion-panel [expanded]="activePanel === 'projection'" (opened)="setActivePanel('projection')">
      <mat-expansion-panel-header>
        <mat-panel-title> Projekcja </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="panel-body-scroll">
        <app-projection-controls></app-projection-controls>
      </div>
    </mat-expansion-panel>

    <!-- GWIAZDY -->
    <mat-expansion-panel [expanded]="activePanel === 'stars'" (opened)="setActivePanel('stars')">
      <mat-expansion-panel-header>
        <mat-panel-title> Gwiazdy </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="panel-body-scroll">
        <app-sky-map-layer-stars-controls></app-sky-map-layer-stars-controls>
      </div>
    </mat-expansion-panel>

    <!-- GRANICE GWIAZDOZBIORÓW -->

    <ng-container *ngIf="projectionSettings | async as settings">
      <mat-expansion-panel
        *ngIf="settings.mode == 'map'"
        [expanded]="activePanel === 'boundaries'"
        (opened)="setActivePanel('boundaries')"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Granice gwiazdozbiorów </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="panel-body-scroll">
          <app-boundaries-controls></app-boundaries-controls>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel
        *ngIf="settings.mode == 'panels'"
        [expanded]="activePanel === 'boundaries'"
        (opened)="setActivePanel('boundaries')"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Etykieta Panelu </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-body-scroll">
          <app-panels-label></app-panels-label>
        </div>
      </mat-expansion-panel>
    </ng-container>

    <!-- LINIE KONSTELACJI -->
    <mat-expansion-panel
      [expanded]="activePanel === 'constellationLines'"
      (opened)="setActivePanel('constellationLines')"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Linie konstelacji </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="panel-body-scroll">
        <app-constellation-line-controls></app-constellation-line-controls>
      </div>
    </mat-expansion-panel>

    <!-- ASTERYZMY -->
    <!-- <mat-expansion-panel [expanded]="activePanel === 'asterisms'" (opened)="setActivePanel('asterisms')">
      <mat-expansion-panel-header>
        <mat-panel-title> Asteryzmy </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="panel-body-scroll">
         <app-asterism-controls></app-asterism-controls>
      </div>
    </mat-expansion-panel> -->
  </mat-accordion>
</div>
