<!-- Nagłówek + widoczność -->

<div class=" ">
  <mat-slide-toggle
    [checked]="(starsSettings$ | async)?.symbols?.visible"
    (change)="toggleVisible($event.checked)"
    color="primary"
    class=""
  >
    Widoczne
  </mat-slide-toggle>
</div>

<!-- SUWAK PIERŚCIENIA -->
<ng-container *ngIf="starsSettings$ | async as settings">
  <div class=" ">
    <span class="">Pierścień</span>

    <div class="">
      <mat-slider min="0" max="15" step="0.1" class="">
        <input matSliderThumb [ngModel]="settings.symbols.ring" (ngModelChange)="updateRing($event)" />
      </mat-slider>

      <span class="w-10 text-right">
        {{ settings.symbols.ring | number: '1.1-1' }}
      </span>
    </div>
  </div>
</ng-container>

<!-- SUWAK MAGNITUDO MAX -->
<ng-container *ngIf="starsSettings$ | async as settings">
  <div class=" ">
    <span class="">Widoczność (magnitudo max)</span>

    <div class="gap-3">
      <mat-slider min="-1" max="15" step="0.1" class="">
        <input matSliderThumb [ngModel]="settings.symbols.magMax" (ngModelChange)="updateMagMax($event)" />
      </mat-slider>

      <span class=" ">
        {{ settings.symbols.magMax | number: '1.1-1' }}
      </span>
    </div>
  </div>
</ng-container>

<!-- KSZTAŁT -->
<div class="">
  <mat-form-field appearance="outline" class="">
    <mat-label>Kształt</mat-label>
    <mat-select [ngModel]="(starsSettings$ | async)?.symbols?.shape" (ngModelChange)="changeShape($event)">
      <mat-option value="circle">Kółko</mat-option>
      <mat-option value="cross">Krzyżyk</mat-option>
      <mat-option value="square">Kwadrat</mat-option>
      <mat-option value="icon">Ikona</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- ROZMIAR -->
<ng-container *ngIf="starsSettings$ | async as settings">
  <div class="">
    <div class="">
      <span class="">Rozmiar</span>
      <span class="">
        {{ settings.symbols.size | number: '1.1-1' }}
      </span>
    </div>

    <mat-slider min="0.5" max="5" step="0.1" class="">
      <input matSliderThumb [ngModel]="settings.symbols.size" (ngModelChange)="changeSize($event)" />
    </mat-slider>
  </div>
</ng-container>

<!-- KOLOR WYPEŁNIENIA -->
<div class="">
  <mat-form-field appearance="outline" class="">
    <mat-label>Kolor wypełnienia</mat-label>
    <input
      matInput
      type="color"
      [ngModel]="(starsSettings$ | async)?.symbols?.color || '#ffffff'"
      (ngModelChange)="changeColor($event)"
    />
  </mat-form-field>
</div>

<!-- GRUBOŚĆ I KOLOR OBRAMOWANIA -->
<div class="">
  <mat-form-field appearance="outline">
    <mat-label>Grubość obramowania</mat-label>
    <input
      matInput
      type="number"
      min="0"
      step="0.1"
      [ngModel]="(starsSettings$ | async)?.symbols?.strokeWidth"
      (ngModelChange)="changeStrokeWidth($event)"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="">
    <mat-label>Kolor obramowania</mat-label>
    <input
      matInput
      type="color"
      [ngModel]="(starsSettings$ | async)?.symbols?.strokeColor || '#ffffff'"
      (ngModelChange)="changeStrokeColor($event)"
    />
  </mat-form-field>
</div>

<!-- SKALOWANIE ROZMIARU -->
<mat-checkbox
  class=""
  [ngModel]="(starsSettings$ | async)?.symbols?.scaleByMagnitude"
  (ngModelChange)="toggleScaleByMagnitude($event)"
>
  Skaluj rozmiar wg jasności (magnitudo)
</mat-checkbox>
