<app-sky-map-page></app-sky-map-page>

<!-- <div class="p-4 grid gap-4 md:grid-cols-[320px_1fr]">

  <div class="space-y-4">
    <section class="border rounded-xl p-3">
      <h2 class="font-semibold text-lg mb-2">Rzut i wymiary</h2>

      <div class="grid grid-cols-3 gap-2 mb-3">
        <button class="btn" (click)="setProjection('stereographic')">Stereograficzny</button>
        <button class="btn" (click)="setProjection('azimuthal')">Azymutalny (Equidistant)</button>
        <button class="btn" (click)="setProjection('azimuthalEA')">Azymutalny (Equal-Area)</button>
        <button class="btn" (click)="setProjection('orthographic')">Ortograficzny</button>
        <button class="btn" (click)="setProjection('gnomonic')">Gnomoniczny</button>
        <button class="btn" (click)="setProjection('mercator')">Mercatora</button>
        <button class="btn" (click)="setProjection('equirect')">Równikowy</button>
      </div>

      <div class="grid grid-cols-2 gap-2">
        <label class="flex items-center gap-2">
          Szerokość
          <input
            type="number"
            class="input"
            [value]="width()"
            (input)="setSize(($any($event.target).valueAsNumber)||1200, height())"
          />
        </label>

        <label class="flex items-center gap-2">
          Wysokość
          <input
            type="number"
            class="input"
            [value]="height()"
            (input)="setSize(width(), ($any($event.target).valueAsNumber)||1200)"
          />
        </label>
      </div>
    </section>
  </div>

 
  <div class="border rounded-xl overflow-auto p-2">
    <app-root-svg
      [width]="width()"
      [height]="height()"
      [showStars]="showStars"
      [showBoundaries]="showBoundaries"
      [showGrid]="showGrid"
      [showAsterisms]="showAsterisms"
      [showConstellationLines]="showConstellationLines"
      [showLabels]="showLabels"
      [maxIntensity]="maxMag"
    >
    </app-root-svg>
  </div>
</div> -->
