/* pozycja hamburgera */
.menu-btn {
  position: fixed;
  top: 8px;
  left: 8px;
  z-index: 1000;
}

.map-scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.stage {
  width: 100%;
  height: calc(100dvh - 48px); /* dopasuj do realnej wysokości toolbara */
  overflow: hidden;
  display: grid;
  place-items: start; /* przy "real size" nie centruje na siłę */
}
