<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #drawer mode="over" [(opened)]="isMenuOpen" (backdropClick)="isMenuOpen = false">
    <div class="stage">
      <app-sky-map-controls></app-sky-map-controls>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="menu-btn" *ngIf="!isMenuOpen" (click)="isMenuOpen = true">
      <span>Menu</span>
    </button>

    <div class="map-scroll-container">
      <app-root-svg></app-root-svg>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
