.hamburger-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 5000;
}

.layout {
  height: 100%;
}

.map-container {
  height: 100%;
  overflow: auto;
}

.side-menu {
  width: 280px;
  max-width: 80vw;
  height: 100%;
  overflow: auto;
}
