.projection-size-field {
  width: 40%;
}
.center-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap {
  margin-left: 10px;
  margin-right: 10px;
  width: 95%;
  background-color: bisque;
}
