<ng-container *ngIf="settingsLabels | async as settings">
  <app-header-portal key="panelLabel">
    <mat-checkbox color="primary" [checked]="settings.visible" (change)="update('visible', $event.checked)">
    </mat-checkbox>
  </app-header-portal>
  <mat-divider class="mat-divider-style"></mat-divider>
  <div class="head-in-menu">
    Czcionka
    <app-font-label [settingsLabels]="settings" (updateFont)="updateFont($event)"></app-font-label>
  </div>

  <mat-divider class="mat-divider-style"></mat-divider>
  <div class="head-in-menu">
    <div class="section-in-menu section-in-menu-top">
      <mat-form-field appearance="outline">
        <mat-label>Pozycja etykiety</mat-label>

        <mat-select [value]="position" (selectionChange)="update('position', $event.value)">
          <mat-option *ngFor="let o of options" [value]="o.value">
            {{ o.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-container>
