:host ::ng-deep .custom-tabs .mat-mdc-tab {
  background: #9ba1a3;
  /* overflow: hidden !important; */
}

:host ::ng-deep .custom-tabs .mat-mdc-tab.mdc-tab--active {
  background: #455a64;
}

:host ::ng-deep .custom-tabs .mat-mdc-tab-header {
  position: sticky;
  top: 0;
  z-index: 100; /* żeby headery nie chowały się pod treść */
  background: #1f1f1f; /* tło, żeby nie prześwitywały */
}
:host ::ng-deep .mat-mdc-tab-body-content {
  overflow: hidden !important;
}
:host ::ng-deep .mdc-tab-indicator__content--underline {
  border: none !important;
}
