<!-- <app-stars-layer></app-stars-layer>
<app-constellation-lines-layer></app-constellation-lines-layer>
<app-boundaries-layer></app-boundaries-layer>
<app-labels-layer></app-labels-layer>
<app-grid-layer></app-grid-layer>
<app-asterisms-layer></app-asterisms-layer> -->
<!-- src/app/svg/root-svg/root-svg.component.html -->

<svg
  #skySvg
  [attr.width]="(projectionSettings$ | async)?.width"
  [attr.height]="(projectionSettings$ | async)?.height"
  [attr.viewBox]="'0 0 ' + (projectionSettings$ | async)?.width + ' ' + (projectionSettings$ | async)?.height"
>
  <!-- obrys sfery / krawędź rzutu -->
  <!-- <path
    [attr.d]="spherePath()"
    fill="none"
    stroke="#222"
    [attr.stroke-width]="0.6"
  ></path> -->

  <!-- siatka współrzędnych -->
  <!-- <g *ngIf="showGrid">
    <path
      [attr.d]="graticulePath()"
      fill="none"
      stroke="#bbb"
      [attr.stroke-width]="0.4"
    ></path>
  </g> -->

  <!-- GWIAZDY -->
  <g app-stars-layer [showStars]="showStars" [showLabels]="showLabels" [maxMag]="6.5"></g>

  <!-- linie konstelacji -->
  <g app-constellation-lines-layer *ngIf="showConstellationLines"></g>

  <!-- granice gwiazdozbiorów -->
  <g app-boundaries-layer *ngIf="showBoundaries"></g>

  <!-- asterizmy -->
  <g app-asterisms-layer *ngIf="(asterismSettings$ | async)?.visible"></g>
</svg>
<button type="button" (click)="exportSvgForEngraving()">Eksportuj SVG do grawerki</button>
