<svg
  appSvgTooltipRoot
  #skySvg
  [attr.width]="(projectionSettings$ | async)?.width + 'mm'"
  [attr.height]="(projectionSettings$ | async)?.height + 'mm'"
  [attr.viewBox]="'0 0 ' + (projectionSettings$ | async)?.width + ' ' + (projectionSettings$ | async)?.height"
>
  <g app-stars-layer [showStars]="showStars" [showLabels]="showLabels" [maxMag]="6.5"></g>

  <g
    app-constellation-lines-layer
    *ngIf="showConstellationLines"
    [appReflectOnVerticalAxis]="layersSvg.constellationLines"
  ></g>

  <g app-boundaries-layer *ngIf="showBoundaries" [appReflectOnVerticalAxis]="layersSvg.boundaries"></g>

  <g
    app-asterisms-layer
    *ngIf="(asterismSettings$ | async)?.visible"
    [appReflectOnVerticalAxis]="layersSvg.asterisms"
  ></g>
</svg>
