<div class="boundary-line-controls" *ngIf="boundaryLinesSettings$ | async as settings">
  <!-- Widoczność -->
  <app-header-portal key="boundariesLine">
    <div class="cb-vertical">
      <label class="cb-label" for="boundariesLine">Linie</label>

      <mat-checkbox
        id="boundariesLine"
        [checked]="settings.visible"
        (change)="update('visible', $event.checked)"
        color="primary"
      >
      </mat-checkbox>
    </div>
  </app-header-portal>
  <app-line-controll [settings]="settings" (updateLine)="updateLine($event)"></app-line-controll>
</div>
