<div *ngIf="(boundariesSettings$ | async)?.labels as labelSettings">
  <div class=" ">
    <app-header-portal key="boundariesLabel">
      <div class="cb-vertical">
        <label class="cb-label" for="boundariesLabel">Etykiety</label>

        <mat-checkbox
          id="boundariesLabel"
          [checked]="labelSettings.visible"
          (change)="update('visible', $event.checked)"
          color="primary"
        >
        </mat-checkbox>
      </div>
    </app-header-portal>
  </div>

  <div class="head-in-menu">
    Czcionka
    <app-font-label [settingsLabels]="labelSettings" (updateFont)="updateFont($event)"></app-font-label>
  </div>
</div>
